<div class="body" style="background-image: url('assets/img/login-bg.png');">
    <div class="login-bg" style="background-image: url(assets/img/bg.jpg);">
        <div class="bg-layer">
            <div class="box">
                <div class="form">
                    <div class="logo-section">
                        <img src="assets/img/cal4care-logo-white.png">
                    </div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="qr-scanner-tab" data-toggle="pill" href="#qr-scanner"
                                role="tab" aria-controls="qr-scanner" aria-selected="true">QR Scanner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Login-tab" data-toggle="pill" href="#Login" role="tab"
                                aria-controls="Login" aria-selected="false">Login</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="qr-scanner" role="tabpanel"
                            aria-labelledby="qr-scanner-tab">
                            <!-- <figure>
                                <img id="qr_code_img" src="http://dev.cal4care.com/erp/images/qrcodestatic.png">
                            </figure> -->
                            <div *ngIf="expired" id="refresh_btn_id"> 
                                <input type="button" name="refresh_btn" id="refresh_btn"
                                    value="Refresh QR code" style="display: block;" (click)="subscribes('1')">
                                    <!-- <button type="button"  class="btn btn-danger btnchn" ></button> -->
                            </div>
                            <div *ngIf="!expired" style="font-size:12px;color:#FFF;padding:20px;text-align:center">
                                <qr-code [value]="qrdata" [size]="width" [level]="level" style="display: flex;justify-content: center;"></qr-code>
                                SCAN WITH CAL4CARE GROUPS MOBILE<br>
                                No more remembering passwords! </div>
                        </div>


                        <div class="tab-pane fade" id="Login" role="tabpanel" aria-labelledby="Login-tab">
                            <form [formGroup]="loginForm">
                                <h2>SIGN IN</h2>
                                <div class="inputBox">
                                    <!-- <span>Username</span> -->
                                    <div class="form-group">
                                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                            <path
                                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" />
                                        </svg>
                                        <input type="text" formControlName="username" placeholder="Username">
                                    </div>
                                    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS">
                                        Username is Required
                                    </div>
                                </div>
                                <div class="inputBox">
                                    <div class="form-group">
                                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                            <path
                                                d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
                                        </svg>
                                        <input type="password" formControlName="password" placeholder="Password">
                                    </div>
                                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS"> Password is Required
                                    </div>
                                </div>
                                <div class="inputBox" id="'verify_otp" *ngIf="otpstatus == true">
                                    <!-- <span>Verify OTP</span> -->
                                    <div class="form-group">
                                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                            <path
                                                d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z" />
                                        </svg>
                                        <input type="text" formControlName="verify_otp_ctrl" maxlength=6>

                                    </div>
                                </div>
                                <div class="links">
                                    <!-- <a href="#">Forget Password</a>
                                    <a href="#">Sign up</a> -->
                                </div>
                                <input type="hidden" name="auth_id" id="auth_id">
                                <input type="submit" id="send_otp_id" value="Send OTP" (click)="userLogin()">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>