.userDatatable table td{padding:4px 0px 4px!important;}
.userDatatable  table tr td span{display: block;  white-space: nowrap; width: 120px; overflow: hidden;text-overflow: ellipsis; }
/* .userDatatable  table tr th:first-child, .userDatatable  table tr td:first-child{width: 50px;} */
.userDatatable__imgWrapper.d-flex.align-items-center{justify-content: center;}
.userDatatable .d-flex{justify-content: center;margin-right: 0;}
.userDatatable tbody .custom-checkbox input[type="checkbox"] + label{margin-right: 0px!important;}

.userDatatable  table  td span{display: block;  white-space: nowrap; width: 120px; overflow: hidden;text-overflow: ellipsis; }


.dropdown {
  position: relative;
}

.dropdown__list {
  z-index:2;
  position: absolute;
  display: none;
  padding: 10px;
  min-width: 100%;
  background: #fff;
  border: 1px solid;
  text-align: center;
}
.dropdown__item {
  list-style-type: none;
}
.dropdown__link {
  display: block;
  padding: 0.3em 1em;
  background: white;
  color: var(--dropdown__link_clr);
  text-decoration: none;
}
.dropdown__link:hover {
  opacity: 0.9;
}
.dropdown:hover .button {
  opacity: 0.9;
}
/* changes made by aashiq starts */
.dropdown:hover .dropdown__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 31px;
}
.view:hover {
 
    background: rgba(255, 77, 79, 0.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.remove:hover {
 
  background: rgba(118, 177, 103, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.close:hover {
 
background: rgba(195, 101, 233, 0.1);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.dropdown a {
  font-size: 14px;
  /* margin: 5px 8px!important; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 37px;
}
  
  /* changes made by aashiq ends */


.button {
  padding: 0.6em 1.5em;

}
.btn1 {
  background-color: 	 #20c997;
  border: none;
  color: white;
  padding: 0;
  font-size: 16px;
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
}
.btn1:hover {
  background-color: rgb(221, 109, 152);
}
i.fa.fa-bars {
  color: #fff!important;
}

tr:nth-child(even) {background: rgb(239, 241, 238)}
tr:nth-child(odd) {background: #FFF}



.ng-autocomplete 
 ::ng-deep .autocomplete-container .input-container input{
   background: transparent;
 }
 .ng-autocomplete 
 ::ng-deep .autocomplete-container .input-container input:focus {
   outline: none;
   border: 2px solid transparent!important;
   background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255), rgb(132, 255, 201));
   background-origin: border-box;
   background-clip: padding-box, border-box;
   animation: bg-hue 2s linear infinite;
 }

 .form-control{
  border: 1px solid #e1e1e1;
  background: transparent;
}
 .form-control:focus {
  outline: none;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255), rgb(132, 255, 201));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: bg-hue 2s linear infinite;
}

/* @keyframes for the gradient animation */
@keyframes bg-hue {
  100% {
    filter: hue-rotate(360deg);
  }
}


label {
    font-weight: 600;
    color: #009688!important;
}
input.form-control {
  padding: 4px 8px !important;
}
select{
  /* padding: 0 !important; */
  padding-left: 4px !important;
}
/* td .PIlistlabel{
  padding-left: 15px!important;
 
} */



.hover1:hover {
   
  background: rgba(255, 77, 79, 0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.hover2:hover {

background: rgba(118, 177, 103, 0.5);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.hover3:hover {

  background: rgba(255, 77, 79, 0.5);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.hover4:hover {

background: rgba(118, 177, 103, 0.5);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.hover5:hover {

background: rgba(12, 1, 39, 0.973);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.hover6:hover {
   
  background: rgba(228, 231, 14, 0.973);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.hover7:hover {

background: rgb(34, 46, 32);
-webkit-border-radius: 50%;
border-radius: 50%;
}
.hover8:hover {

background: rgba(23, 198, 241, 0.973);
-webkit-border-radius: 50%;
border-radius: 50%;
}


.emailLabel{
  color: rgba(0, 0, 0, 0.589) !important;
  font-weight: 400!important;
}


/** BEGIN CSS NEEDED FOR SWITCH **/
.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.on-off-toggle__slider {
  width: 60px;
  height: 24px;
  display: block;
  border-radius: 34px;
  background-color: #d8d8d8;
  transition: background-color 0.4s
  
}

.on-off-toggle__slider:before {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #949494;
    bottom: 3px;
    height: 18px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 18px;
    z-index: 5;
    border-radius: 100%;
  }

.on-off-toggle__slider:after {
    display: block;
    line-height: 24px;
    /* text-transform: uppercase; */
    font-size: 12px;
    font-weight: bold;
    content: 'No';
    color: #484848;
    padding-left: 26px;
    transition: all 0.4s;
  }

.on-off-toggle__input {
  /*
    This way of hiding the default input is better 
    for accessibility than using display: none;
  */
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked + 
.on-off-toggle__slider {
  background-color: #009688
}

.on-off-toggle__input:checked + 
.on-off-toggle__slider:before {
    transform: translateX(37px);
  }

.on-off-toggle__input:checked + 
.on-off-toggle__slider:after {
    content: 'Yes';
    color: #FFFFFF;
    padding-left: 8px;
  }

/*** END CSS NEEDED FOR SWITCH **/



.quotationsharedCSS{
  height: 300px;
 
  overflow-y: scroll;
}

.nameCSS{
  font-weight: 400;
  color: #020096!important;


}
.heightCSS{
  line-height: 35px;
}