<div class="contents-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-30">
                <div class="card">
                    <div class="card-header color-dark fw-500">
                        
                        <h3 style="margin-bottom: 0;">Contract Name Details</h3>
                       

                        <div class="quotation-btn-section">
                            <button type="button"  title="Add New Customer Leads"
                                class="btn btn-primary btn-default btn-squared" data-toggle="modal"
                                data-target="#addContractNameId"
                                (click)="addContract()"
                                style="margin-right: 70px;"><i class="fas fa-plus" style="margin-right:0;"></i>
                            </button>

                          
                        </div>
                    </div>
                    <div class="card-body">


                        <div class="userDatatable global-shadow border-0 bg-white w-100">
                            <div class="table-responsive ">
                                <table class="table mb-0 table-borderless">
                                    <thead>
                                        <tr class="userDatatable-header">


                                            <th>
                                                <span class="userDatatable-title">Contract Name</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Desc</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Summary</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Classification</span>
                                            </th>

                                            <th>
                                                <span class="userDatatable-title">Action</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let list of result ; let i = index">
                                            <td>
                                                <span> {{ list.contract_name}}</span>
                                            </td>
                                            <td>
                                                <span>{{ list.contract_description}}</span>
                                            </td>
                                            <td>
                                                <span>{{ list.contract_summary}}</span>
                                            </td>
                                            <td>
                                                <span>{{ list.classification_name}}</span>
                                            </td>


                                            <td>

                                                <div class="page">

                                                    <div class="dropdown">
                                                        <button class="btn1"><i class="fa fa-bars"></i></button>


                                                        <ul class="dropdown__list">


                                                            <li class="dropdown__item">
                                                                <a class="remove" title="Delete Contract Name"
                                                                    (click)="deleteContractName(list.contract_id)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#009688" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>

                                                                </a>

                                                            </li>
                                                            <li class="dropdown__item">
                                                                <a class="view" title="Edit Contract Name"
                                                                    data-toggle="modal"
                                                                    data-target="#editContractNameId"
                                                                    (click)="editContractName(list.contract_id)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#009688" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                                                </a>
                                                            </li>
                                                            <li class="dropdown__item">
                                                                <a class="remove" title="View Contract Name"
                                                                    data-toggle="modal"
                                                                    data-target="#viewContractNameId"
                                                                    (click)="viewContractName(list.contract_id)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#009688" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>

                                                                </a>
                                                            </li>
                                                            <!-- <li class="dropdown__item">
                                                            <a  class="view" title="Invoice Attachment"
                                                            data-toggle="modal" data-target="#invoiceAttachmentId"
                                                              (click)="invoiceAttachment(list.customer_contract_id,list.customer_id)"  >
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-activity">
                                                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8">
                                                                    </path>
                                                                    <polyline points="16 6 12 2 8 6"></polyline>
                                                                    <line x1="12" y1="2" x2="12" y2="15"></line>
                                                                </svg>
    
                                                            </a>
                                                        </li> -->

                                                        </ul>
                                                    </div>

                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------Modal Pop Up (BEGIN) for Add Pop Up & Save in customer Contract Classification------------------>
<div class="modal fade" id="addContractNameId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content addcontractmastercss">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalLongTitle">Add New Customer Leads</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center;color:rgb(97, 72, 9)">Add New Customer Leads</h2>
                <form [formGroup]="addContractNameForm">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="contractName" class="col-lg-12 col-form-label">Name</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" formControlName="create_contract_name"
                                        id="contractName" />
                                        <div *ngIf="addContractNameForm.controls['create_contract_name'].invalid && (addContractNameForm.controls['create_contract_name'].dirty || addContractNameForm.controls['create_contract_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                        Name is Required
                                    </div>
                                </div>
                              

                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="cr_descrip" class="col-lg-12 col-form-label">Description</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" formControlName="create_contract_description_name"
                                        id="cr_descrip" rows="3"></textarea>
                                        <div *ngIf="addContractNameForm.controls['create_contract_description_name'].invalid && (addContractNameForm.controls['create_contract_description_name'].dirty || addContractNameForm.controls['create_contract_description_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                        Description is Required
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="cr_summary" class="col-lg-12 col-form-label">Summary</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" formControlName="create_contract_summary_name"
                                        id="cr_summary" rows="3"></textarea>
                                        <div *ngIf="addContractNameForm.controls['create_contract_summary_name'].invalid && (addContractNameForm.controls['create_contract_summary_name'].dirty || addContractNameForm.controls['create_contract_summary_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                        Summary is Required
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="classification_name "
                                    class="col-lg-12 col-form-label">Classification</label>
                                <div class="col-lg-12">
                                    <select name="contractname " id="cont_name" class="form-control"
                                        formControlName="create_classification">
                                        <option [ngValue]="null" selected disabled>Select Classification</option>
                                        <option *ngFor="let contract of classificationList"
                                            value="{{contract.contract_classification_id}}">
                                            {{contract.classification_name}}
                                        </option>
                                    </select>
                                    <div *ngIf="addContractNameForm.controls['create_classification'].invalid && (addContractNameForm.controls['create_classification'].dirty || addContractNameForm.controls['create_classification'].touched)"
                                    class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                    Classification is Required
                                </div>
                                </div>
                             

                            </div>
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-primary" (click)="saveContractName()">
                   Save
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="clearContractName()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-----------------Modal Pop Up (END) for Add Pop Up & Save in customer Contract Classification------------------>


<!-----------------Modal Pop Up (BEGIN) for Edit Pop Up & Update in customer Contract Classification------------------>
<div class="modal fade" id="editContractNameId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content addcontractmastercss">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalLongTitle">Update Contract Classification</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center;color:rgb(97, 72, 9)">Update Contract Classification</h2>
                <form [formGroup]="editContractNameForm">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="e_contractName" class="col-lg-12 col-form-label">Name</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" formControlName="e_create_contract_name"
                                        id="e_contractName" />
                                        <div *ngIf="editContractNameForm.controls['e_create_contract_name'].invalid && (editContractNameForm.controls['e_create_contract_name'].dirty || editContractNameForm.controls['e_create_contract_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                     * Required *
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="e_cr_descrip" class="col-lg-12 col-form-label">Description</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" formControlName="e_create_contract_description_name"
                                        id="e_cr_descrip" rows="3"></textarea>
                                        <div *ngIf="editContractNameForm.controls['e_create_contract_description_name'].invalid && (editContractNameForm.controls['e_create_contract_description_name'].dirty || editContractNameForm.controls['e_create_contract_description_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                     * Required *
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="e_cr_summary" class="col-lg-12 col-form-label">Summary</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" formControlName="e_create_contract_summary_name"
                                        id="e_cr_summary" rows="3"></textarea>
                                        <div *ngIf="editContractNameForm.controls['e_create_contract_summary_name'].invalid && (editContractNameForm.controls['e_create_contract_summary_name'].dirty || editContractNameForm.controls['e_create_contract_summary_name'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                     * Required *
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="e_cont_name " class="col-lg-12 col-form-label">Classification</label>
                                <div class="col-lg-12">
                                    <select name="e_contractname " id="e_cont_name" class="form-control"
                                        formControlName="e_create_classification">
                                        <option [ngValue]="null" selected disabled>Select Classification</option>
                                        <option *ngFor="let econtract of classificationEditList"
                                            value="{{econtract.contract_classification_id}}">
                                            {{econtract.classification_name}}
                                        </option>
                                    </select>
                                    <div *ngIf="editContractNameForm.controls['e_create_classification'].invalid && (editContractNameForm.controls['e_create_classification'].dirty || editContractNameForm.controls['e_create_classification'].touched)"
                                        class="alert alert-danger alertdangerCustomCSS1 mt-2">
                                     * Required *
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </form>

            </div>
            <div class="modal-footer">
             
                <button type="button" class="btn btn-primary" (click)="updateContractName()">
                    Update
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="reset()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-----------------Modal Pop Up (BEGIN) for Edit Pop Up & Update in customer Contract Classification------------------>

<!-----------------Modal Pop Up (BEGIN) for View Pop Up in customer Contract Classification------------------>
<div class="modal fade" id="viewContractNameId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content addcontractmastercss">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalLongTitle">View Contract Classification</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center;color:rgb(97, 72, 9)">View Contract Classification</h2>
                <form [formGroup]="viewContractNameForm">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="v_contractName" class="col-lg-12 col-form-label">Name</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" formControlName="v_create_contract_name"
                                        [attr.readonly]="isReadOnly" id="v_contractName" />
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="v_cr_descrip" class="col-lg-12 col-form-label">Description</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" formControlName="v_create_contract_description_name"
                                        [attr.readonly]="isReadOnly" id="v_cr_descrip" rows="3"></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="v_cr_summary" class="col-lg-12 col-form-label">Summary</label>
                                <div class="col-lg-12">
                                    <textarea class="form-control" [attr.readonly]="isReadOnly"
                                        formControlName="v_create_contract_summary_name" id="v_cr_summary"
                                        rows="3"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="v_cont_name " class="col-lg-12 col-form-label">Classification</label>
                                <div class="col-lg-12">
                                    <select name="v_contractname " id="v_cont_name" class="form-control"
                                        formControlName="v_create_classification" [attr.readonly]="isReadOnly">
                                        <option [ngValue]="null" selected disabled>Select Classification</option>
                                        <option *ngFor="let vcontract of classificationEditList"
                                            value="{{vcontract.contract_classification_id}}">
                                            {{vcontract.classification_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="reset()">
                    Cancel
                </button>

            </div>
        </div>
    </div>
</div>
<!-----------------Modal Pop Up (BEGIN) for View Pop Up  in customer Contract Classification------------------>